@media(max-width: 1050px) {
	/*.menubutton {
		display: block;
		margin: 0 0;
  		padding: 0 0 23px 0;
  		width: auto;
  		height: 70%;
	}*/
	.logo {
		width: 85%;
		height: auto;
	}
	/*.home {
		display: none;
	}
	.projects {
		display: none;
	}
	.contacts {
		display: none;
	}*/
	.container1 {
		width: 98%;
	}
	.container2 {
		width: 98%;
	}
	.container3 {
		width: 98%;
		height: auto;
		margin-bottom: 20px;
	}
	.container4 {
		width: 98%;
	}
	.container5 {
		width: 90%;
		margin-left: 0;
	}
	.container6 {
		width: 98%;
	}
	.container {
		width: 98%;
	}
	footer {
		height: 130px;
	}
	.bubble {
		height: 98%;
	}
	.PIC1 {
		display: none;
	}
	.subcontainer {
		flex-direction: column-reverse;
	}
	.choice {
		margin-top: 40vh;
	}
	.bubble {
		margin: 0 auto; 
		margin-top: -100px;
	}
	.AboutText {
		font-size: 	20px;
	}
	.title {
		margin-top: 250px;
	}
	.flexlinks {
		display: none;
	}
	.VK {
		width: 25%;
		margin: 0 auto;
		margin-left: 30vw;
		margin-bottom: 5vw;
	}
	.Telegram {
		width: 25%;
		margin: 0 auto;
		margin-left: 30vw;
		margin-bottom: 5vw;
	}
	.outlook {
		width: 25%;
		margin: 0 auto;
		margin-left: 30vw;
		margin-bottom: 5vw;
	}
}

@media(max-width: 520px) {
	.bubble {
		width: 98%;
	}
}

@media(max-width: 790px) {
	.mic {
		display: none;
	}
	.choice {
		text-align: center;
		font-size: 7vh;
	}
	.preview {
		display: flex;
		flex-direction: column;
	}
	.flexlinks {
		display: none;
	}
	.VK {
		width: 50%;
		margin: 0 auto;
		margin-left: 30vw;
		margin-bottom: 5vw;
	}
	.Telegram {
		width: 50%;
		margin: 0 auto;
		margin-left: 30vw;
		margin-bottom: 5vw;
	}
	.outlook {
		width: 50%;
		margin: 0 auto;
		margin-left: 30vw;
		margin-bottom: 5vw;
	}
}

@media(max-width: 640px) {
	.choice {
		font-size: 	35px;
		margin-top: 210px;
	}
	.title {
		margin-top: 250px;
		font-size: 40px;
	}
}
@media(max-width: 850px) {
	.choice {
		
	}
}

@media(max-width: 560px) {
	.logos {
		display: none;
	}
	.previews {
		display: none;
	}
	.flexbubbles {
		display: none;
	}
	.flexbubblesMobile {
		width: 100%;
		display: flex;
		flex-direction: column;
		font-family: Gabriela;
  		font-size: 24px;
	}
	.bubbleMSM {
		width: 100%;
	}
	.bubble7lbr {
		width: 100%;
	}
	.bubbleSailorMoon {
		width: 100%;
	}
}