div{
  box-sizing: border-box;
}

body {
  background: url(../img/back3.jpg);
  background-size: cover;
  margin: 0 0 0 0;
}

.menubutton {
  display: none;
}

.container1 {
  width: 1000px;
  height: 100px;
  margin: 0px auto;
}

.logo {
  padding-top: 10px;
  width: auto;
  height: 80%;
}

.logo:hover {
  filter: brightness(0.85);
}

.home {
  margin: 0 0;
  padding: 0 0 23px 0;
  width: auto;
  height: 56%;

}

.home:hover {
  filter: brightness(0.85);
}

.projects {
  margin: 0 0;
  padding: 0 0 23px 0;
  width: auto;
  height: 56%; 
}

.projects:hover {
  filter: brightness(0.85);
}

.contacts {
  margin: 0 0;
  padding: 0 0 23px 0;
  width: auto;
  height: 56%;
}

.contacts:hover {
  filter: brightness(0.85);
}

.container2 {
  width: 1000px;
  height: 250px;
  margin: 0px auto;
  font-family: NFS;
}

.choice {
  font-size: 60px;
  color: #7689EF;
  text-align: right;
  margin: 0px 35px 15px 0px;
  text-shadow:
  black 4px 4px 0, black -4px -4px 0, 
  black -4px 4px 0, black 4px -4px 0,
  black 3px 3px 0, black -3px -3px 0, 
  black -3px 3px 0, black 3px -3px 0,
  black 2px 2px 0, black -2px -2px 0, 
  black -2px 2px 0, black 2px -2px 0,
  black 1px 1px 0, black -1px -1px 0, 
  black -1px 1px 0, black 1px -1px 0,
  black 5px 5px 0, black -5px -5px 0, 
  black -5px 5px 0, black 5px -5px 0,
  black 6px 6px 0, black -6px -6px 0, 
  black -6px 6px 0, black 6px -6px 0,
  black 7px 7px 0, black -7px -7px 0, 
  black -7px 7px 0, black 7px -7px 0,
  black 8px 8px 0, black -8px -8px 0, 
  black -8px 8px 0, black 8px -8px 0;
}

.container3 {
  width: 1000px;
  height: 430px;
  margin: 0px auto;
  font-family: Gabriela;
}

.mic {
  margin-top: 100px;
  margin: 0 auto;
  margin-right: 0;
  margin-left: 30px;
  width: 20%;
  z-index: -1;
}

.bubble {
  width: 500px;
  height: 220px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 33px;
  margin-left: 0;
  margin-top: -150px;
  margin-right: -200px;
  padding-left: 10px;
  z-index: 43;
}

.subcontainer {
  display: flex;
  margin-top: 153px;
  z-index: 43;
}

.PIC1 {
  width: 51%;
  height: 51%;
  margin-top: 69px;
}

.AboutText {
  font-family: Gabriela;
  font-size: 20px;
  margin-top: 8px;
}

a {
  text-decoration: none;
}

.container4 {
  width: 1000px;
  margin: 0px auto;
  padding: 0px 0px; 
  font-family: Gabriela;
  color: #ffff;
  display: flex;
  font-size: 24px;
}

.rights {
  text-align: right;
  margin-bottom: 0px;
}

.welcome {
  text-align: left;
  margin-right: auto;
  margin-bottom: 0px;
}

footer {
  margin: 0px 0px 00px 0px;
  width: auto;
  height: 8vw;
  left: 0;
  bottom: 0;
  background: black no-repeat top / cover;
  background-size: 100% auto;
  z-index: 43;
}

.title {
  font-size: 60px;
  color: #7689EF;
  text-align: center;
  text-shadow:
  black 4px 4px 0, black -4px -4px 0, 
  black -4px 4px 0, black 4px -4px 0,
  black 3px 3px 0, black -3px -3px 0, 
  black -3px 3px 0, black 3px -3px 0,
  black 2px 2px 0, black -2px -2px 0, 
  black -2px 2px 0, black 2px -2px 0,
  black 1px 1px 0, black -1px -1px 0, 
  black -1px 1px 0, black 1px -1px 0,
  black 5px 5px 0, black -5px -5px 0, 
  black -5px 5px 0, black 5px -5px 0,
  black 6px 6px 0, black -6px -6px 0, 
  black -6px 6px 0, black 6px -6px 0,
  black 7px 7px 0, black -7px -7px 0, 
  black -7px 7px 0, black 7px -7px 0,
  black 8px 8px 0, black -8px -8px 0, 
  black -8px 8px 0, black 8px -8px 0;
}

.container {
  width: 1000px;
  margin: 0px auto;
}

.container5 {
  width: 1000px;
  margin: 0px auto;
  font-family: NFS;
}

.logos {
  display: flex;
}

.MSM-logo {
  width: 35%;
  height: 35%;
}

.sbr {
  width: 35%;
  height: 35%;
  margin-left: -25px;
  margin-top: 25px;
}

.SailorMoon-logo {
  width: 30%;
  height: 30%;
  margin-top: 50px;
}

.previews {
  display: flex;
}

.MSM {
  width: 32%;
  height: 32%;
  margin: 1vw 1vw 1vw 0vw;
}

.slbr {
  width: 32%;
  height: 32%;
  margin: 1vw 1vw 1vw 1vw;
}

.SailorMoon {
  width: 32%;
  height: 32%;
  margin: 1vw 0vw 1vw 1vw;
}

.flexbubbles  {
  display: flex;
  font-family: Gabriela;
  font-size: 20px;
}

.flexbubblesMobile {
  display: none;
}

.bubbleMSM {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 33px;
  margin: 1vw 1.5vw 10vw 1vw;
  width: 135%;
}

.TextMSM {
  margin: 0.8vw 0.8vw 1vw 0.8vw;
}

.bubble7lbr {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 33px;
  margin: 1vw 1.5vw 10vw 0vw;
  width: 135%;
}

.Text7lbr {
  margin: 0.8vw 0.8vw 0.8vw 0.8vw;
}

.bubbleSailorMoon {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 33px;
  margin: 1vw 1vw 10vw 0vw;
  width: 135%;
}

.TextSailorMoon {
  margin: 0.8vw 0.8vw 0.8vw 0.8vw;
}

.VK {
  margin: 10px 100px 10px 70px;
  width: 22%;
}

.VK:hover {
  filter: brightness(0.85);
}

.Telegram {
  margin: 10px 100px 10px 10px;
  width: 22%;
}

.Telegram:hover {
  filter: brightness(0.85);
}

.outlook {
  margin: 10px 0px 10px 10px;
  width: 22%;
}

.outlook:hover {
  filter: brightness(0.85);
}

.Pic1 {
  width: 50%;
  margin-bottom: -0.5%;
  margin-left: 50%;
  margin-top: 0;
  z-index: -1;
}

.flexlinks {
  display: flex;
  font-family: Gabriela;
  font-size: 24px;
  margin-bottom:  0vw;
}

.bubbleVK {
  background: #DF2424;
  border-radius: 33px;
  border: 5px solid black;
  width: 135%;
  margin: 10px 15px 25px 0px;
}

.Text {
  margin: 8px 8px 8px 8px;
  text-align: center;
  font-weight: 500;
  color: white;
  text-shadow: 
  black 1px 1px 0, black -1px -1px 0, 
  black -1px 1px 0, black 1px -1px 0,
  black 2px 2px 0, black -2px -2px 0, 
  black -2px 2px 0, black 2px -2px 0;
}

.bubbleTelegram {
  background: #DF2424;;
  border-radius: 33px;
  margin: 10px 10px 25px 0px;
  border: 5px solid black;
  width: 135%;
}

.bubbleMail {
  background: #DF2424;
  border-radius: 33px;
  border: 5px solid black;
  margin: 10px 10px 25px 0px;
  width: 135%;
}

.bubbleAbout {
  background: rgba(255, 255, 255, 0.85);
  margin: 0 auto;
  border-radius: 33px;
  width: 80%;
  height: 100%;
  font-family: Gabriela;
  font-size: 24px;
}

.TextAbout {
  margin: 10px 10px 15vw 10px;
}

.container6 {
  width: 1000px;
  margin: 0px auto;
  margin-bottom: 30px;
}